/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

body { font-family: Helvetica, sans-serif; }

a { color: #357dbd; text-decoration: none; }
a:hover { text-decoration: underline; }

h1, h5 { margin-left: 20px; }

.card {
  border-radius: 5px;
  background-color: #eee;
  border: 1px solid #ccc;
  padding: 100px 0;
  width: 300px;
  position: relative;
  text-align: center;
  list-style: none;
  margin: 20px;
  float: left;
  height: 20px;

  transition: all .2s;
}

.add-new {
  opacity: .7;
}
.add-new:hover {
  opacity: 1;
}

.card-hover {
  padding: 100px 0;
  opacity: 0;
  width: 100%;
  background-color: #eee;
  position: absolute;
  top: 0;
  left: 0;

  transition: all .2s;
}

.card:hover .card-hover {
  opacity: 1;
}

.actions {
  opacity: .5;
  position: absolute;
  bottom: 0;
  width: 100%;
  padding-bottom: 5px;

  transition: all .2s;
}
.actions:hover {
  opacity: 1;
}

#new_card {
  margin-top: -50px;
}