<h1>Decks</h1>

<li class="card">
  <%= link_to "Add New Deck", new_deck_path %>
</li>

<% @decks.each do |deck| %>
  <li class="card">
    <%= link_to deck.name, deck %>
    
    <div class="actions">
      <%= link_to "Edit", edit_deck_path(deck) %> | 
      <%= link_to "Delete", deck, method: :delete, data: { :confirm => 'Are you sure?' } %>
    </div>
  </li>
<% end %>